/**
 * Fonts
 */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local('Montserrat-Bold'), url('../fonts/Montserrat-Bold.ttf') format('truetype'), url('../fonts/Montserrat-Bold.wofw') format('woff2'), url('../fonts/Montserrat-Bold.woff') format('woff');
}

.font_montserrat {
	font-family: 'Montserrat', sans-serif;
}

@font-face {
  font-family: 'OpenSans';
  font-style: normal;
  font-weight: 700;
  src: local('OpenSans-Regular'), url('../fonts/OpenSans-Regular.ttf') format('truetype'), url('../fonts/OpenSans-Regular.woff') format('woff');
}

.font_opensans {
	font-family: 'OpenSans', sans-serif;
}

/* ------------------------------- END OF FONTS ----------------------------- */

.calc_header {
	background-color: #484848;
	height: 46px
}

.calc_header h1 {
	color: #fff;
	font-weight: bold;
	height: 46px
}

.calc_subheader {
	background-color: #fafafa;
	border-bottom: 1px solid #c6c6c6;
	padding-top: 0px;
	top: 48px;
	height: 48px;
}

.calc_subheader .row {
	padding-top: 0px;
}

.calc_subheader_btn.left {
	-webkit-border-top-left-radius: 8px !important;
	-webkit-border-bottom-left-radius: 8px !important;
	-moz-border-radius-topleft: 8px !important;
	-moz-border-radius-bottomleft: 8px !important;
	border-top-left-radius: 8px !important;
	border-bottom-left-radius: 8px !important;
	border-right: none !important;
}

.calc_subheader_btn.right {
	-webkit-border-top-right-radius: 8px !important;
	-webkit-border-bottom-right-radius: 8px !important;
	-moz-border-radius-topright: 8px !important;
	-moz-border-radius-bottomright: 8px !important;
	border-top-right-radius: 8px !important;
	border-bottom-right-radius: 8px !important;
	border-left: none !important;
}

.calc_subheader_btn {
	background-color: #f5f6f7 !important;
	color: #1992d1 !important;
	border: 2px solid #1992d1 !important;
	font-size: 16px !important;
}

.calc_subheader_btn.active {
	background-color: #0f92d1 !important;
	color: #fff !important;
}

.calc_content {
	top: 100px !important;
}

.calc_val_currency {
	font-size: 14px;
	vertical-align: text-top;
}

.calc_val {
	display: block;
	font-size: 24px;
	color: #e1e1e1;
}

.calc_val.active {
	color: #f68c20;
}

.calc_val_label {
	color: #7e7e7e;
	font-size: 12px;
	font-weight: bold;
}

.calc_label {
	font-size: 12px;
	color: #0f92d1;
}

.calc_label_row {
	margin-top: 1px !important;
}

.calc_label_col {
	text-align: right;
	padding-right: 10px;
	padding-top: 8px;
}

.calc_input {
	padding-left: 15px;
	padding-right: 15px;
	background-color: #fafafa;
	-webkit-box-shadow: 0px 0px 4px -2px #000;
	-moz-box-shadow: 0px 0px 4px -2px #000;
	box-shadow: 0px 0px 4px -2px #000;
}

.calc_clear_btn {
	background-color: #c6c6c6 !important;
	color: #fff !important;
	height: 40px;
	min-height: 40px;
	border: none !important;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	font-size: 14px;
}

.calc_calculate_btn {
	background-color: #0f92d1 !important;
	color: #fff !important;
	height: 40px;
	min-height: 40px;
	border: none !important;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	font-size: 14px;
}

.slice-text {
	font-size: 11px;
	font-weight: bold;
}

.col-offset-17 {
	margin-left: 17%;
}

.calc_brown_title_text {
	color: #7e7e7e;
}

.graph_title {
	font-size: 16px;
}

.input_container {
	position: relative;
	color: #e1e1e1 !important;
}

.input_container.active {
	color: #7e7e7e !important;
}

.prepend {
	position: absolute;
	top: 13px;
	left: 6px;
	z-index: 2;
}

.append {
	position: absolute;
	top: 13px;
	right: 6px;
	z-index: 2;
}

/** Ionic Customizations **/

.col.col-offset-5 {
	margin-left: 5%;
}

.col.col-offset-15 {
	margin-left: 15%;
}

/**
 * Donut Pie Chart
 */
.donutpie .units{
  fill: gray;
  font-size: 12px;
}

.donutpie .label{
  fill: #CCC;
  font-size: 12px;
  font-weight: bold;
}
.donutpie .value{
  font-size: 12px;
  font-weight: bold;
}