@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local('Montserrat-Bold'), url('../fonts/Montserrat-Bold.ttf') format('truetype'), url('../fonts/Montserrat-Bold.wofw') format('woff2'), url('../fonts/Montserrat-Bold.woff') format('woff');
}

.font_montserrat {
	font-family: 'Montserrat', sans-serif;
}

@font-face {
  font-family: 'OpenSans';
  font-style: normal;
  font-weight: 700;
  src: local('OpenSans-Regular'), url('../fonts/OpenSans-Regular.ttf') format('truetype'), url('../fonts/OpenSans-Regular.woff') format('woff');
}

.font_opensans {
	font-family: 'OpenSans', sans-serif;
}

/* ------------------------------- END OF FONTS ----------------------------- */
.calc_header {
	background-color: #484848;
	height: 46px
}

.calc_header h1 {
	color: #fff;
	font-weight: bold;
	height: 46px
}

.calc_subheader {
	background-color: #fafafa;
	border-bottom: 1px solid #c6c6c6;
	padding-top: 0px;
	top: 48px;
	height: 48px;
}

.calc_subheader .row {
	padding-top: 0px;
}

.calc_subheader_btn.left {
	-webkit-border-top-left-radius: 8px !important;
	-webkit-border-bottom-left-radius: 8px !important;
	-moz-border-radius-topleft: 8px !important;
	-moz-border-radius-bottomleft: 8px !important;
	border-top-left-radius: 8px !important;
	border-bottom-left-radius: 8px !important;
	border-right: none !important;
}

.calc_subheader_btn.right {
	-webkit-border-top-right-radius: 8px !important;
	-webkit-border-bottom-right-radius: 8px !important;
	-moz-border-radius-topright: 8px !important;
	-moz-border-radius-bottomright: 8px !important;
	border-top-right-radius: 8px !important;
	border-bottom-right-radius: 8px !important;
	border-left: none !important;
}

.calc_subheader_btn {
	background-color: #f5f6f7 !important;
	color: #1992d1 !important;
	border: 2px solid #1992d1 !important;
	font-size: 16px !important;
}

.calc_subheader_btn.active {
	background-color: #1992d1 !important;
	color: #fff !important;
}

.calc_content {
	top: 100px !important;
}

.calc_brown_title_text {
	color: #7e7e7e;
}

.calc_title_1 {
	font-size: 16px !important;
	margin-top: 20px !important;
	font-weight: bold;
}

.calc_graphic {
	margin-bottom: 20px;
}

.calc_table {
	width: 100%;
}

.calc_value {
	font-weight: bold;
}

.calc_value.cleared {
	color: #dfdfdf;
}

.calc_value.active {
	color: #ff8c00 !important;
}

.calc_label {
	font-size: 14px;
	color: #1992d1;
}

.calc_table {
	width: 100%;
	margin-bottom: 10px;
}

.calc_table_title {
	padding-bottom: 10px;
}

.calc_table_label {
	text-align: center;
	color: #7e7e7e;
	font-family: 'Montserrat', sans-serif;
	font-size: 10px;
	padding-right: 10px;
}

.calc_table_label.text-right {
	text-align: right;
}

.calc_label_row {
	margin-top: 1px !important;
}

.calc_label_col {
	text-align: right;
	padding-right: 10px;
	padding-top: 8px;
}

.calc_input {
	padding-left: 15px;
	padding-right: 15px;
	background-color: #fafafa;
	-webkit-box-shadow: 0px 0px 4px -2px #000;
	-moz-box-shadow: 0px 0px 4px -2px #000;
	box-shadow: 0px 0px 4px -2px #000;
}

.calc_clear_btn {
	background-color: #c6c6c6 !important;
	color: #fff !important;
	height: 40px;
	min-height: 40px;
	border: none !important;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	font-size: 14px;
}

.calc_calculate_btn {
	background-color: #0f92d1 !important;
	color: #fff !important;
	height: 40px;
	min-height: 40px;
	border: none !important;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	font-size: 14px;
}

.remaining-text {
	display: none;
}

.percent {
	font-size: 30px;
	fill: rgb(232, 232, 232);
}

#donutchart.active .percent {
	fill: #ff8c00;
}

.col-offset-17 {
	margin-left: 17%;
}

.input_container {
	position: relative;
	color: #e1e1e1 !important;
}

.input_container.active {
	color: #7e7e7e !important;
}

.prepend {
	position: absolute;
	top: 12px;
	left: 8px;
	z-index: 2;
}

.append {
	position: absolute;
	top: 12px
	right: 8px;
	z-index: 2;
}

/** Ionic Customizations **/

.col.col-offset-5 {
	margin-left: 5%;
}

.col.col-offset-15 {
	margin-left: 15%;
}