<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:cdv="http://cordova.apache.org/ns/1.0"
    id="com.ionicframework.smartcalculator113452"
    version     = "0.0.1"
    >

    <name>Life Time Value Calculator</name>

    <description>
        A Netmark lifetime value calculator.    
    </description>

    <author email="luiscarlosjayk@gmail.com" href="http://luiscarlosjayk.com">
      Luis Carlos Osorio Jayk
    </author>

    <!-- Build Platforms -->
    <gap:platform name="android" />
    <gap:platform name="ios" />

    <!-- Splashscreen -->
    <gap:splash src="img/splash-screen.png" />

    <!-- Define app icon for each platform. -->
    <icon src="img/icon57.png" gap:platform="ios" width="57" height="57" />
    <icon src="img/icon72.png" gap:platform="ios" width="72" height="72" />
    <icon src="img/icon114.png" gap:platform="ios" width="114" height="114" />
    <icon src="img/icon144.png" gap:platform="ios" width="144" height="144" />

    <icon src="img/icon144.png" gap:platform="android" />
    <icon src="img/icon72.png" gap:platform="blackberry" />

    <!-- Deny access to external resources -->
    <access />

</widget>