<!DOCTYPE html>
<html ng-app="LTVCalculatorApp">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>Squaretab | LTV Calculators</title>

    <!-- Stylesheets -->
      <!-- Ionic -->
      <link href="lib/ionic/css/ionic.css" rel="stylesheet">
      <!-- LTV Calculator Styles -->
      <link href="css/style.css" rel="stylesheet">

    <!-- Scripts -->
      <!-- Ionic/Angularjs js -->
      <script src="lib/ionic/js/ionic.bundle.js"></script>
      <!-- cordova script (this will be a 404 during development) -->
      <script src="phonegap.js"></script>
      <!-- Vendor/Utilities -->
      <script src="js/vendor/jquery.min.js"></script>
      <script src="js/vendor/shame.js"></script>
      <script src="js/vendor/d3.v3.min.js"></script>
      <!-- LTV Calculator -->
      <script src="js/app.js"></script>
      <script src="js/app.filters.js"></script>
      <script src="js/app.services.js"></script>
      <script src="js/app.directives.js"></script>
      <script src="js/app.controllers.js"></script>

  </head>
  <body data-ng-cloak ng-controller="LTVCalculatorCtrl">

      <!-- Wrapper -->
      <div id="attritionCalcWrapper" >
        <!-- Header -->
        <ion-header-bar align-title="center" class="calc_header">
          <h1 class="title font_montserrat">Lifetime Value</h1>
        </ion-header-bar>
        <!--/ Header -->

        <!-- SubHeader -->
        <ion-header-bar class="bar-subheader calc_subheader">
          <div class="row">
            <div class="col col-80 col-offset-10">

              <div class="button-bar padding-horizontal">
                <a
                  data-ng-click="selectType('quick')"
                  class="button calc_subheader_btn left"
                  data-ng-class="{active: precisionType == 'quick'}"
                  >Quick</a>
                <a
                  data-ng-click="selectType('precise')"
                  class="button calc_subheader_btn right"
                  data-ng-class="{active: precisionType == 'precise'}"
                  >Precise</a>
              </div>

            </div>
          </div>
        </ion-header-bar>
        <!--/ SubHeader -->

        <!-- Clients Content -->
        <ion-content class="calc_content">
          
          <!-- Results -->
          <div class="row">
            <div class="col col-90 col-offset-5">
              
              <div class="row">
                <div class="col col-50 col-offset-25 text-center">
                  <span class="calc_val" data-ng-class="{active: calculated}">
                    <span class="calc_val_currency">$</span>
                    <span>{{ltv.cltv | numCheck:2}}</span>
                  </span>
                  <span class="calc_val_label">Customer LTV</span>
                </div>
              </div>

              <div class="row">
                <div class="col text-center">
                  <span class="calc_val" data-ng-class="{active: calculated}">{{ltv.tor | numCheck:2}}</span>
                  <span class="calc_val_label">LTV to Revenue</span>
                </div>
                <div class="col text-center">
                  <span class="calc_val" data-ng-class="{active: calculated}">
                    <span class="calc_val_currency">$</span>
                    <span>{{ltv.vltv | numCheck:2}}</span>
                  </span>
                  <span class="calc_val_label">Visitor LTV</span>
                </div>
              </div>

              <!-- DonutChart -->
              <div class="row" data-ng-if="ltv.currv > 0 || ltv.futv > 0">
                <div class="col">

                  <div class="row">
                    <div class="col text-center">
                      <h4 class="calc_brown_title_text font_montserrat graph_title">Future value & current value</h4>
                    </div>
                  </div>

                  <div class="col col-67 col-offset-17">
                    <donutpie series="ltv.series" />
                  </div>

                </div>
              </div>
              <!--/ DonutChart -->

            </div>
          </div>
          <!--/ Results -->

          <form name="$parent.lifetimeValue" novalidate class="font_opensans">
            <div class="row">
              <div class="col col-67 calc_label_col padding-vertical">
                <label for="rpc" class="calc_label">Revenue per conversion</label>
              </div>
              <div class="col input_container" data-ng-class="{active: ltv.rpc != null}">
                <input id="rpc" name="rpc" type="number" data-ng-model="ltv.rpc" class="calc_input" data-allowed-characters="[\d\.,\b\t]" data-ng-required="true" />
                <span class="prepend">$</span>
              </div>
            </div>

            <div class="row">
              <div class="col col-67 calc_label_col padding-vertical">
                <label for="cpc" class="calc_label">COGS per conversion</label>
              </div>
              <div class="col input_container" data-ng-class="{active: ltv.cpc != null}">
                <input id="cpc" name="cpc" type="number" class="calc_input" data-ng-model="ltv.cpc" data-allowed-characters="[\d\.,\b\t]" data-ng-required="true" />
                <span class="prepend">$</span>
              </div>
            </div>

            <div class="row">
              <div class="col col-67 calc_label_col padding-vertical">
                <label for="vcpc" class="calc_label">Variable cost per conversion</label>
              </div>
              <div class="col input_container" data-ng-class="{active: ltv.vcpc != null}">
                <input id="vcpc" name="vcpc" type="number" data-ng-model="ltv.vcpc" class="calc_input" data-allowed-characters="[\d\.,\b\t]" data-ng-required="true" />
                <span class="append">%</span>
              </div>
            </div>

            <div class="row">
              <div class="col col-67 calc_label_col padding-vertical">
                <label for="crpr" class="calc_label">Customer repurchase rate</label>
              </div>
              <div class="col input_container" data-ng-class="{active: ltv.crpr != null}">
                <input id="crpr" name="crpr" type="number" data-ng-model="ltv.crpr" class="calc_input" step=".1" data-min-value="0" data-max-value="100" data-allowed-characters="[\d\.,\b\t]" data-ng-required="true" />
                <span class="append">%</span>
              </div>
            </div>

            <div class="row" data-ng-if="precisionType == 'precise'">
              <div class="col col-67 calc_label_col padding-vertical">
                <label for="acp" class="calc_label">Annual customer purchases</label>
              </div>
              <div class="col">
                <input id="acp" name="acp" type="number" data-ng-model="ltv.acp" class="calc_input" data-min-value="0" data-allowed-characters="[\d\b\t]" data-ng-required="true" />
              </div>
            </div>

            <div class="row">
              <div class="col col-67 calc_label_col padding-vertical">
                <label for="crfr" class="calc_label">Customer referral rate</label>
              </div>
              <div class="col input_container" data-ng-class="{active: ltv.crfr != null}">
                <input id="crfr" name="crfr" type="number" data-ng-model="ltv.crfr" class="calc_input" step=".1" data-min-value="0" data-max-value="100" data-allowed-characters="[\d\.,\b\t]" data-ng-required="true" />
                <span class="append">%</span>
              </div>
            </div>

            <div class="row" data-ng-if="precisionType == 'precise' && ltv.crfr > 0">
              <div class="col col-67 calc_label_col padding-vertical">
                <label for="lcr" class="calc_label">Lifetime customer referrals</label>
              </div>
              <div class="col">
                <input id="lcr" name="lrc" type="number" data-ng-model="ltv.lcr" class="calc_input" data-allowed-characters="[\d\.,\b\t]" data-ng-required="true" />
              </div>
            </div>

            <div class="row" data-ng-if="precisionType == 'precise'">
              <div class="col col-67 calc_label_col padding-vertical">
                <label for="clt" class="calc_label">Customer lifetime (months)</label>
              </div>
              <div class="col">
                <input id="clt" name="clt" type="number" data-ng-model="ltv.clt" class="calc_input" data-allowed-characters="[\d\.,\b\t]" data-ng-required="true" />
              </div>
            </div>

            <div class="row" data-ng-if="precisionType == 'precise'">
              <div class="col col-67 calc_label_col padding-vertical">
                <label for="rrr" class="calc_label">Required rate of return</label>
              </div>
              <div class="col input_container" data-ng-class="{active: ltv.cr != null}">
                <input id="rrr" name="rrr" type="number" data-ng-model="ltv.rrr" class="calc_input" step=".1" data-min-value="0" data-max-value="100" data-allowed-characters="[\d\.,\b\t]" data-ng-required="true" />
                <span class="append">%</span>
              </div>
            </div>

            <div class="row">
              <div class="col col-67 calc_label_col padding-vertical">
                <label for="cr" class="calc_label">Conversion rate (Opt)</label>
              </div>
              <div class="col input_container" data-ng-class="{active: ltv.cr != null}">
                <input id="cr" name="cr" type="number" data-ng-model="ltv.cr" class="calc_input" step=".1" data-min-value="0" data-max-value="100" data-allowed-characters="[\d\.,\b\t]" />
                <span class="append">%</span>
              </div>
            </div>

            <div class="row">
              <div class="col col-90 col-offset-10">
                <div class="row">
                  <div class="col">
                    <button type="button" class="button button-block calc_clear_btn font_opensans" data-ng-click="clear()">Clear</button>
                  </div>
                  <div class="col">
                    <button type="button" class="button button-block calc_calculate_btn font_opensans" data-ng-click="compute()">Calculate</button>
                  </div>
                </div>
              </div>
            </div>

          </form>

        </ion-content>
        <!--/ LTVCalculator Content -->

      </div>
      <!--/ Wrapper -->

  </body>
</html>
